@{
    ViewData["Title"] = "Contact";
}


<section class="account">
    <img src="~/images/piggybank.png" alt="Start Savings">
    <h2 id="savings" class="heading">Start Saving</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis maximus commodo. Donec vestibulum ac elit sed dignissim. Cras eleifend molestie odio, vel malesuada dolor suscipit vitae. Phasellus non tortor quis nibh consequat condimentum. Mauris interdum, quam eu sodales porttitor, elit quam molestie ipsum, dictum rutrum orci neque eget sapien. Sed ac scelerisque nulla. Cras blandit erat nec dolor iaculis, id accumsan dui viverra. Sed sit amet augue ex. Nullam et blandit erat. Aliquam in dui vel nisl bibendum mollis in vel ipsum. Nunc scelerisque ex non nulla rhoncus porta. Suspendisse est elit, eleifend et facilisis at, porttitor sed nisl. Sed ante libero, accumsan quis lobortis ac, consectetur id eros.
    </p>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</section>
<section class="account">
    <img src="~/images/checkandpen.png" alt="Open Checking">
    <h2 id="checking" class="heading">Open Checking</h2>
    <p>
        Integer at vestibulum libero. Nullam suscipit luctus est ac faucibus. Mauris non nibh elit. Nulla porta at velit ac gravida. Vivamus viverra ante at tortor ultricies mollis. Nam commodo, ante eu volutpat efficitur, tortor ex mollis est, ut finibus ante velit cursus ligula. Nulla augue nibh, faucibus ac mollis nec, commodo blandit urna. Phasellus vestibulum lacus ante, vel ullamcorper velit fringilla nec. Fusce rhoncus urna ut magna venenatis efficitur nec eget augue. Nam tincidunt neque eu ligula hendrerit, ac convallis sem hendrerit. Ut ornare, nisi non dignissim commodo, augue nibh pellentesque tortor, a porttitor est erat vel arcu. Integer in elit non lorem iaculis tincidunt id eu arcu.
    </p>
</section>
<section class="account">
    <img src="~/images/dollarsign.png" alt="Bridge the Gap">
    <h2 id="loans" class="heading">Loans</h2>
    <p>
        Tank yuuu! bee do bee do bee do bappleees hahaha chasy butt me want bananaaa! Tatata bala tu me want bananaaa! Poulet tikka masala ti aamoo! Bee do bee do bee do daa daa. Hana dul sae hahaha tank yuuu! Uuuhhh. Bananaaaa la bodaaa tatata bala tu daa po kass uuuhhh hahaha chasy potatoooo tank yuuu! Chasy. Ti aamoo! bee do bee do bee do jeje butt. Potatoooo po kass tulaliloo hahaha uuuhhh baboiii. Pepete bee do bee do bee do chasy wiiiii jiji gelatooo bananaaaa potatoooo butt bee do bee do bee do para tú. Poulet tikka masala jiji po kass belloo! Chasy tank yuuu! Tatata bala tu ti aamoo! Para tú butt para tú hahaha poopayee me want bananaaa! Tank yuuu!
    </p>
    <p>
        <a asp-action="mortgageCalculatorInput">Mortgage Payment Calculator</a>
    </p>
</section>

